* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 10vh 10vh 40vh 40vh;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background-color: #0ea5e9;
    padding: 20px;
    color: white;
}

.sidebar h2 {
    margin-top: 10px;
    margin-bottom: 50px;
}

.sidebar h3 {
    margin: 20px 10px;
}

.searchbar {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 3fr;
}

.searchbar div {
    padding: 5px 10px;
    align-content: center;
}

.search-icon {
    text-align: right;
}

.search-input input {
    width: 90%;
    height: 1.5rem;
    border: none;
    border-radius: 15px;
    background-color: #e2e8f0;
}

.bell-icon {
    text-align: right;
}

.user {
    text-align: center;
}

.user-name {
    font-weight: bold;
    font-size: small;
}

.nav {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    align-items: center;
}

.user {
    text-align: right;
}

.greeting {
    font-weight: bold;
    font-size: small;
    padding-left: 30px;
}

.nav-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-buttons button {
    width: 70%;
    height: 2rem;
    border: none;
    border-radius: 20px;
    background-color: #0ea5e9;
    color: white;
    font-size: smaller;
    font-weight: bold;
}

.contents {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background-color: #e2e8f0;
    padding: 30px 20px;
}

.rightTop {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #e2e8f0;
    padding: 30px 20px;
}

.rightBot {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    background-color: #e2e8f0;
    padding: 30px 20px;
}