@font-face {
    font-family: nunito;
    src: url(Nunito-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: nunito;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 8% 10% 1fr 1fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background-color: #0ea5e9;
    padding: 20px;
    color: white;
}

.sidebar h2 {
    margin-top: 10px;
    margin-bottom: 50px;
}

.fa-css3 {
    font-size: larger;
}

.sidebar h3 {
    margin: 20px 10px;
}

.fas {
    width: 40px;
}

.searchbar {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 3fr;
}

.searchbar div {
    padding: 5px 10px;
    align-content: center;
}

.search-icon {
    text-align: right;
}

.fa-search {
    padding-top: 3px;
}

.search-input input {
    width: 90%;
    height: 1.5rem;
    border: none;
    border-radius: 15px;
    background-color: #e2e8f0;
}

.bell-icon {
    text-align: right;
}

.fa-bell {
    padding-top: 3px;
}

.user-icon {
    text-align: center;
}

.user-name {
    font-weight: bold;
    font-size: small;
}

.nav {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 5fr 4fr;
    align-items: center;
}

.user {
    text-align: right;
}

.greeting {
    font-weight: bold;
    font-size: small;
    padding-left: 30px;
}

.nav-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-buttons button {
    width: 70%;
    height: 2rem;
    border: none;
    border-radius: 20px;
    background-color: #0ea5e9;
    color: white;
    font-size: smaller;
    font-weight: bold;
}

.contents {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background-color: #e2e8f0;
    padding: 30px 20px;
}

.cards {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    border-left: rgb(255, 194, 41) 10px solid;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 80%;
    display: grid;
    grid-template-rows: 15% auto 15%;
}

.card div {
    text-align: right;
}

.rightTop {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #e2e8f0;
    padding: 30px 20px 10px 10px;
}

.announcements {
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.rightBot {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    background-color: #e2e8f0;
    padding: 10px 20px 20px 10px;
}

.trending {
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}